@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.App {
  text-align: center;
  background-color: #a078a0;
  border-radius: 0.9em;
  padding: 1em;
  grid-area: 2 / 2 / 3 / 3;
}

.App button {
  background-color: #7997A0;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 0.75em;
  border: none;
  color: #2b2b2b;
  font-size: 1em;
}

.App p {
  font-family: "Ubuntu";
  font-size: 19px;
  color: #2b2b2b;
}
